.btn-add {
    margin-left: 65px !important;
}

.danger {
    width: 1096px !important;
    float: right !important;
}

td {
    display: table-cell !important;
    vertical-align: middle !important; /* Important */
}

.price {
    color: #fe6f42;
    font-weight: bold;
}


.modal-alert-danger {
    padding: 10px 35px;
    margin-bottom: 15px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.show {
    display: block !important;
}

.hide  {
    display: none;
}

label.error {
    display: list-item;
    margin-top: 5px;
    color: #842029;
}


#search-input {
    position: relative;
}

#search-icon {
    position: absolute;
    top: 12px;
    font-size: 20px;
    right: 25px;
    z-index: 1;
}
/* Center the loader */
.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 99999;
    width: 80px;
    height: 80px;
    margin: -76px 0 0 -76px;
    border: 10px solid #494949;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*image preview*/

.image-box, .image-box-up {
    margin: 0 auto;
    margin-top: 28px;
    height: 300px;
    width: 217px;
    cursor: pointer;
    overflow: hidden;
}
#viewImageCre, #viewImageUp {
    height: 100%;
    display: none;
}

#uploadIcon {
    position: relative;
    top: 45%;
    font-size: 100px;
    color: #1abc9c;
}
.tellUpload {
    position: relative;
    top: 38%;
    color: #1abc9c;
    font-weight: 300;
}